/* GENERAL */

.menu-item:hover{
    background: rgba(255, 255, 255, 0.14);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
}

/* TOPBAR */

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box{
    display: flex;
    align-items: center;
    background: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.search-box input{
    border: none;
    outline: none;
    margin-left: 8px;
}

.user-chip{
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.user-chip img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-chip-name{
    font-weight: bold;
}

.user-chip-role{
    font-size: 12px;
    color: gray;
}

/* TITULO CONFIGURACION */

.header-left h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2px;
}

.subtitle{
    font-size: 13px;
    color: gray;
    margin: 0;
}

/* CONTENIDO */

.content{
    padding: 30px;
}

/* TITULO */

.page-title{
    margin-bottom: 20px;
}

.page-title h2{
    color: #294b8d;
    font-size: 32px;
    font-weight: bold;
}

/* CARDS */

.card{
    border: none !important;
    border-radius: 15px !important;
    background: white !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08) !important;
}

.card-body{
    padding: 20px;
}

/* MENU CONFIG */

.config-item{
    width: 100%;
    border: none;
    background: #f8f9fa;
    border-radius: 10px;
    padding: 12px;
    text-align: left;
    transition: .3s;
}

.config-item:hover{
    background: #ececec;
}

.active-option{
    background: #ffc107 !important;
    color: white;
}